table, p, li {font-family: sans-serif; font-size: 10pt}
pre {font-family: monospace; font-size: 9pt;  background-color: #e0e0e0}
h1 {color: #999e6a; background-color: white; font-size: 14pt}
h2 {font-size: 12pt; font-weight: bold}
h3 {font-size: 12pt; font-style: italic}
.navbar a {
    text-decoration: none; 
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: normal; 
    color: white;
}
.navbar a:hover {
    color: black;
    background: white;
}


th.title {color: #979e6a; font-size: 14pt; font-weight: bold; text-align: left}
th.controls {background-color: #4C93A3; color: white; font-weight: bold;}
th.params {background-color: #4C93A3; font-weight: bold;}
th.results {background-color: #15434E; color: white; font-weight: bold;}

td.title {color: #979e6a; font-size: 14pt; font-weight: bold; text-align: left}
td.controls {background-color: #4C93A3; color: white;}
td.params {background-color: #4C93A3; text-align: right}
td.results {background-color: #15434E; color: white; text-align: right}
input.numeric {text-align: right}


